# CLion default CMake  build directory
cmake-build-*
.idea

# VS Code
# - Default CMake build directories
/build/
/out/
# -

# Python virtual environment
/venv

# Generated output
*.svg
*.log

# VSCode Modern Fortran extension
*.i90
*.mod
